@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: 'Outfit', sans-serif;
  --font-serif: 'Instrument Serif', serif;

  --color-primary: #ffffff;
  --color-secondary: #94a3b8;
  --color-accent: #3b82f6;
  --color-background: #0f0f0f;

  --animate-spin-slow: spin 3s linear infinite;
}

body {
  background-color: #000000;
  background-image: radial-gradient(#333 1px, transparent 1px);
  background-size: 30px 30px;
  color: #ffffff;
}

/* Custom Scrollbar for a premium feel */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #000000;
  border-left: 1px solid #1a1a1a;
}

::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 5px;
  border: 2px solid #000000;
}

::-webkit-scrollbar-thumb:hover {
  background: #4f46e5; /* Indigo-600 for hover state */
}